.DecisionMaker-table-main {
  border: 0.6px solid #D5D5D5;
  border-radius: 14px !important;
  box-shadow: none !important;
  font-family: Inter;
}

.DecisionMaker-table thead tr {
  background-color: #fcfdfd;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
}

.DecisionMaker-table .MuiTableBody-root .MuiTableRow-root .MuiTableCell-root {
  border-bottom: none !important;
  text-align: left;
}

.DecisionMakecheckbox-row-table {
  width: 5% !important;
}

.industry-row-tableStatus,
.prospects-row-tableContact {
  width: 17%;
  text-align: center !important;
}

.DecisionmakerScore {
  background-color: #0eb93e;
  color: white;
  padding: 4px, 8px, 4px, 8px;
  border-radius: 26px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
}

.Decision-maker-userTeblesell {
  min-width: 12rem;
  /* position: relative; */
}

.Decision-maker-user-name-main-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.Decision-maker-user-name-pdf {
  border: 2px solid #da291c;
  color: #003057;
  width: 46px;
  height: 46px;
  background-color: #f5f6fa;
  border-radius: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
}

.decisionMakerImage {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  left: 65px;
}

.button-collapse-table svg {
  font-size: 1rem;
  font-weight: 700;
}

.DecisionMaker-table-main tr {
  border-bottom: 0.6px solid #dedfe5;
}

.Suspect-table-data {
  text-transform: capitalize;
  display: flex;
  justify-content: center;
}

.Suspect-table-data svg {
  color: #da291c;
}

.DecisionMakercheckbox-row-table input {
  height: 16px;
  width: 16px;
  border: 1px solid red;
}

.score-pera-tag {
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
}

.DecisionMaker-table .MuiTable-root .MuiTableBody-root .MuiTableRow-root:last-child {
  border-bottom: unset;
}

.DecisionMaker-table .MuiTableBody-root .MuiTableRow-root:last-child {
  border: none !important;
}

.Decision-maker-user-namenoborder-pdf {
  color: #003057;
  width: 46px;
  height: 46px;
  background-color: #F5F6FA;
  border-radius: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
}

.hide-image {
  display: none;
}

.Decisionstable {
  width: 12%;
}

.name-and-title-text-new {
  width: 100%;
  /* padding: 16px; */
}

.letter-heading-pdf {
  text-transform: uppercase !important;
  /* font-size: 13px;  */
}

.strengthdata-pdf {
  text-align: center;
  font-size: 14px;
}

.strengthdata-pdf-body {
  text-align: center;
  font-size: 13px;
}

.title-of-company-profile-screen-pdf {
  text-align: left;
  font-size: 14px;
  /* padding-left: 20px; */
}

.industry-sec-ai-to-compony-profile {
  text-align: center;
  position: unset !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 13%;
  /* width: 33%; */
}

.contact-details-leads-to-company-profile {
  text-align: center;
  position: unset !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 20%;
}

.Decisions-row-tableNameaAndtitle-leads-to-companyprofile {
  width: 22%;
}

.DecisionstableJOIStrength {
  width: 12%;
}

.employee-row-tableCompanydata-new {
  width: 10%;
}

.company-tag-leads-to-company {
  justify-content: center;
  display: flex;
}

.DecisionMaker-table .Decisions-row-empty {
  /* padding: 0px 0px 0px 15px !important;
  position: relative; */
  padding: 0px 0px 0px 15px !important;
  width: 1% !important;
  position: relative;
}

.after-company-name-country-prospect-new-pdf {
  text-align: left;
  font-size: 13px;
}

.decisionMakerImage-new-PDF-new {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 34px;
}

.company-name-country-prospect-added-pdf {
  text-align: left;
  display: flex;
  justify-content: left;
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 500;
  color: #202224;
  line-height: 24px;
}

.email-and-other-info-for-empolyee-table {
  position: absolute !important;
  display: flex;
  gap: 32px;
  top: 20px;
}

.sector-heading-companyscreen {
  display: flex;
}

.sector-heading-companyscreen {
  display: flex;
  justify-content: center;
  /* padding-left: 11px; */
}

.annual-row-tableIndustrySector-new {
  width: 10%;
}

/* new  */
.Contact-Details-heading-leads-to-profile {
  display: flex;
  justify-content: center;
}

.Decisions-row-linkedin {
  text-align: center !important;
  width: 10% !important;
}

.Decisions-row-tableNameaAndtitle {
  width: 10% !important;
  text-align: center !important;
}

.head-one {
  width: 12%;
}

.head-two {
  width: 12%;
}

.head-three {
  width: 11%;
}

.head-four {
  width: 10%;
}

.head-five {
  width: 11%;
}

.head-six {
  width: 12%;
}

.head-seven {
  width: 12%;
}

.head-eight {
  width: 15%;
}

.industry-sector-table-new {
  text-align: center;
}

.new-Linked-In {
  text-align: center !important;
  font-size: 14px;
}

.tabel-body-content {
  text-align: center;
  font-size: 13px;
}

.Decisions-row-empty {
  width: 0% !important;
}

.annual-revenue-table-pdf {
  font-size: 13px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 400;
  line-height: 16.94px;
  color: #202224;
}